.nav {
  /* flex box layout */
  background-color: rgb(98, 129, 230);
  color: black;
  border: 2px solid rgb(194, 200, 223);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin: 0;
  /* these last two make the logout button in
  the nav bar look like another link*/
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 50px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0; 

}

.navLink {
  background-color: 155, 170, 219;
  color: black;
  padding: 1px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* these last two make the logout button in
  the nav bar look like another link */
  cursor: pointer;
  
}

.navLink:hover {
  background-color: #3a5daa;
  
}

/* .nav-bar{
  display: inline-flex;
  float: left;
} */